body {
    font-family: "poppins", sans-serif;
    background: #2F4F4F !important;
  }
.card {
    background: linear-gradient(to right, #ffff, #abbaab);
    width: 75%;
    height: 100%;
    margin: auto;
    margin-top: 65px;
    margin-bottom: 10px;
}
.card .header {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.card .header img {
    width: 175px;
    border-radius: 20px;
    padding: 10px 15px 10px 10px;
}
.card .header .header-text {
    padding: 10px 0 0 10px;
    color: #2F4F4F;
}
.card .header .header-text h3 {
    text-align: center;
    padding-bottom: 5px;
}
.card .header .header-text p {
    margin: 0;
    padding-top: 10px;
    padding-right: 15px;
}
.sinopsis p {
    padding: 0 20px 0 20px;
    color: #2F4F4F;
}

/* footer */
.footer {
    background-color: #333333;
    padding: 10px;
  }
  
  .footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
  }